/* Colors */
$paragraph-color: #a6a6a6;
$sideMenu: #191919;
$orangeHover: #FFA200;
$rowHover: #efefef;
$textButton: #FFF;
$borderGrey: #E3E3E3;
$borderHover: #bababa;
$greyHover: #bababa;
$whiteIconHover: #FFF;

/* Font sizes */
$paragraph-font-size: 16px;
$bold-weight: 700;
$normal-weight: 300;

/* Fonts */
$main-font: Roboto;

