.btn {
	border-radius: 3px;
	border: none;
	cursor: pointer;

	@include text($main-font, 18px, $normal-weight);
	color: $textButton;
	line-height: 42px;
	text-align: center;
	outline: none;
}

.btnOrange {
	background-color: #F58220;
}
.btnLightOrange {
	background-color: $orangeHover;
}

.btnDarkGrey {
	background-color: #979797;
}
.btnGrey {
	background-color: #bababa;
}
