.c-calendar {
    @include size(370px, 40px);
    border-radius: 3px;
    border: 1px solid $borderGrey;
    &:hover {
        border: 1px solid $borderHover;
        cursor: pointer;
    }
    .separator {
        font-size: 20px;
        color: $borderGrey;
    }
    input {
        @include text($main-font, 14px, $normal-weight);
        color: #333;
        margin: 8px 10px;
        text-align: center;
        }
    img {
        @include size(15px, 15px);
    }
}

/* Media queries */
@media(max-width: 767px) {
    .c-calendar {
        input {
            @include text($main-font, 10px, $normal-weight);
            margin: 8px 5px;
        }
        img {
            visibility: collapse;
        }
        .date {
            width: 30%;
        }
    }
}