.c-calendar {
    @include size(350px, 40px);
    border-radius: 3px;
    border: 1px solid $paleGrey;
    &:hover {
        border: 1px solid $grey;
        cursor: pointer;
    }
    .separator {
        font-size: 20px;
        color: $paleGrey;
    }
    input {
    @include text(Roboto, 14px, 300);
    color: $black;
    margin: 8px 10px;
    text-align: center;
    }
    img {
        @include size(15px, 15px);
        margin-left: 10px;
    }
}

/* Media queries */
@media(max-width: 767px) {
    .c-calendar {
        input {
            @include text(Roboto, 10px, 300);
            margin: 8px 5px;
            text-align: center;
        }
        img {
            visibility: collapse;
        }
        .date {
            width: 30%;
        }
    }
}