.headlineText {
	@include text($main-font, 16px, $bold-weight);
	color: $paragraph-color;
	text-align: left;
	text-transform: uppercase;
}

.subheadingText {
	@include text($main-font, 16px, $bold-weight);
	color: $paragraph-color;
	text-align: left;
}

/*Media queries */
@media(max-width: 767px) {
	.headlineText,
	.subheadingText {
		text-align: center;
	}
}