.column {
	@include size(213px, 40px);
	border-radius: 3px;
	border: 1px $paleGrey solid;
	background-color: $white;
	padding-left: 35px;
	color: $black;
	cursor: pointer;
	width: 100%;
}
.column-active:focus {
	border-color: $darkGrey;
	color: $black;
}
.password-false:focus {
	border-color: $red;
}

.password {
	background-image: url('../images/icons/password.svg');
	background-repeat: no-repeat;
	background-size: 21px, 12px;
	background-position: 5% 50%;
}