.column {
	@include size(213px, 40px);
	border-radius: 3px;
	border: 1px $borderGrey solid;
	background-color: #FFF;
	padding-left: 35px;
	color: #333;
	cursor: pointer;
	width: 80%;
}
.column-active:focus {
	border-color: #979797;
	color: #333;
}
.password-false:focus {
	border-color: #FF0000;
}
.password {
	background-image: url('../images/icons/password.svg');
	background-repeat: no-repeat;
	background-size: 21px, 12px;
	background-position: 5% 50%;
}