.c-pagination {
    text-align: center;
    object {
        @include size(20px, 20px);
        padding-top: 8px;
    }
    .btnPagination {
    border-radius: 3px;
    border: none;
    cursor: pointer;

    @include text(Roboto, 18px, 300);
    line-height: 42px;
    text-align: center;
    outline: none;
    }
    button {
        background: $white;
        color: $blue;
        &:hover {
            color: $orange;
        }
        &:focus {
            background: $paleGrey;
            color: $darkGrey;
            border-radius: 3px;
        }
    }
}