.c-pagination {
    text-align: center;
    object {
        @include size(20px, 20px);
        padding-top: 8px;
    }
    .btnPagination {
    border-radius: 3px;
    border: none;
    cursor: pointer;

    @include text($main-font, 18px, $normal-weight);
    line-height: 42px;
    text-align: center;
    outline: none;
    }
    button {
        background: #FFF;
        color: #56819F;
        &:hover {
            color: #F58220;
        }
        &:focus {
            background: #E3E3E3;
            color: 979797;
            border-radius: 3px;
        }
    }
}