.c-table {
    padding: 10px 20px 20px 20px;
    table{
    	border-collapse: collapse;
    	@include size(786px, 128px);
    }
	td {
		border: 1px solid red;
		height: 20px;

	}
	.textTable {
		font-family: Roboto;
		color: $darkGrey;
		font-size: 18px;
		font-weight: 700;
		text-align: left;
	}
	.linkTable > a {
		font-family: Roboto;
		color: $blue;
		font-size: 16px;
		font-weight: 300;
		text-align: left;
		text-decoration: none;
	}
}
tr { 
    border-bottom: 1px solid $paleGrey;
	&:last-of-type {
		border-bottom: 1px solid $paleGrey;
	}
}
tbody {
	tr {
		&:hover {
			background-color: rgba(177, 191, 191, 0.18);
			cursor: pointer;
		}
	}
}

.trashIcon, .linksIcon {
	opacity: 0;
	    max-width: 14px;
	max-height: 15px;

}
tr:hover > .linksIcon {
	opacity: 1;
	    max-width: 14px;
	max-height: 15px;
}

tr:hover > .trashIcon {
	opacity: 1;
	    max-width: 14px;
	max-height: 15px;
}
