.c-table {
    padding: 10px 20px 20px 20px;
    table{
    	@include size(786px, 128px);
    	border-collapse: collapse;
    }
	td {
		border: 1px solid red;
		height: 20px;

	}
	.textTable {
		@include text($main-font, 18px, $bold-weight);
		color: #979797;
		text-align: left;
	}
	.linkTable > a {
		@include text($main-font, 16px, $normal-weight);
		color: #56819F;
		text-align: left;
		text-decoration: none;
	}
}
tr { 
    border-bottom: 1px solid #E3E3E3;
	&:last-of-type {
		border-bottom: 1px solid #E3E3E3;
	}
}
tbody {
	tr {
		&:hover {
			background-color: rgba(177, 191, 191, 0.18);
			cursor: pointer;
		}
	}
}

.trashIcon, .linksIcon {
	opacity: 0;
	max-width: 14px;
	max-height: 15px;
}
tr:hover > .linksIcon {
	opacity: 1;
	max-width: 14px;
	max-height: 15px;
}
tr:hover > .trashIcon {
	opacity: 1;
	max-width: 14px;
	max-height: 15px;
}
