.banners {
    .addLinkBtn {
        padding: 10px;
        text-align: center;
        .btnOrange {
            @include size(126px, 40px);
            border-radius: 3px;
            outline: none;
            &:hover {
                background-color: $orangeHover;
            }  
        }
    }
}

.tableWithBanners > .row {
    align-items: center;
    &:hover {
        background-color: #efefef;
        .iconLink {
            opacity: 1;
        }
        .iconReference {
            fill: $orange;
            &:hover {
                fill: $orangeHover;
            }
        }
        .iconTrash {
            fill: $darkGrey;
            &:hover {
                fill: $grey;
            }
        }
        .smallLink:hover {
            color: $orangeHover;
        }
    }
    h3 {
        @include text(Roboto, 17px, 700);
        color: #a6a6a6;
        font-size: 16px;
        text-align: left;
        padding-left: 15px;
    }
    .smallLink {
        @include text(Roboto, 16px, 300);
        color: #56819f;
        line-height: 17px;
        text-decoration: none;
    }
    .iconLink {
        @include size(20px, 20px);
        opacity: 0;
        cursor: pointer;    
    }
}

/* Media queries */
@media(max-width: 767px) {
    .tableWithBanners > .row {
        text-align: center;
        margin-bottom: 15px;
        border-bottom: 1px solid #eeeeec;
        .iconLink {
            @include size(30px, 30px);
            opacity: 1;
            margin-top: 15px;
        }  
        .iconReference {
            fill: $orange;
        }
        .iconTrash {
            fill: $darkGrey;
        }
        h3 {
            line-height: 15px;
            text-align: center;
            padding-left: 0px;
        }
    }
}