.links {
    .addLinkBtn {
        padding: 10px;
        text-align: center;
        .btnOrange {
            @include size(126px, 40px);
            border-radius: 3px;
            outline: none;
            &:hover {
                background-color: $orangeHover;
            }  
        }
    }
}

.tableWithLink > .row {
    align-items: center;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    &:hover {
        background-color: $rowHover;
        .iconLink {
            opacity: 1;
        }
        .iconReference {
            fill: #F58220;
            &:hover {
                fill: $orangeHover;
            }
        }
        .iconTrash {
            fill: #979797;
            &:hover {
                fill: $greyHover;
            }
        }
        .smallLink:hover {
            color: $orangeHover;
        }
    }
    h3 {
        @include text($main-font, 16px, $bold-weight);
        color: #a6a6a6;
        padding-left: 15px;
        text-align: left;
    }
    .smallLink {
        @include text($main-font, 16px, $normal-weight);
        color: #56819f;
        line-height: 17px;
        text-decoration: none;
    }
    .iconLink {
        @include size(20px, 20px);
        opacity: 0;
        cursor: pointer;    
    }
}

/* Media queries */
@media(max-width: 767px) {
    .tableWithLink > .row {
        min-width: 100%;
        border-bottom: 1px solid #eeeeec;
        text-align: center;
        .iconLink {
            @include size(30px, 30px);
            opacity: 1;
            margin-top: 15px;
            text-align: center;
        }  
        .iconReference {
            fill: #F58220;
        }
        .iconTrash {
            fill: #979797;
        }
        h3 {
            line-height: 15px;
            text-align: center;
        }
    }
}