.header {
	@include size(100%, 60px);
	display: flex;
	justify-content: flex-end;
	position: fixed;
	background: #FFF;
	border-bottom: 1px solid $borderGrey;

	z-index: 2;
	.topMenu {
		display: flex;
		align-items: center;
		height: 60px;
		border-left: 1px solid $borderGrey;
		padding: 20px;
		&:hover {
			background-color: #F5F5F2;
			cursor: pointer;
		}
		&:hover .numberMoney,
		&:hover .profileText {
			color: $orangeHover;
		}
		&:hover > a .iconHeader {
			fill: #000;
		}
	}
	button {
		display: flex;
		align-items: center;
		border: none;
		background: none;
		text-decoration: none;
		outline: none;
	}
	.ring {
		@include size(8px, 8px);
        position: absolute;
        top: 19px;
        background: #F58220;
        border-radius: 50%;
	}

	.iconHeader {
		align-items: center;
		fill: #979797;
		position: relative;
	}
	.numberMoney {
		@include text($main-font, 20px, $normal-weight);
		color: #9c9c9c;
		margin-right: 10px;
		margin-left: 10px;
	}
	.profileText {
		@include text($main-font, 13px, $normal-weight);
		color: #56819f;
		margin-left: 5px;
	}
}

#walletIcon {
	@include size(17px, 18px);
}
#downArrow {
	@include size(11px, 7px);
}
#notificationIcon {
	@include size(16px, 17px);
}
#profileIcon {
	@include size(17px, 17px);
}
#quitIcon {
	@include size(19px, 15px);
	margin-right: 10px;
}

/* Media queries */
@media(max-width: 767px) {
	.header {
		justify-content: center;
		.topMenu {
			border-left: none;
			&:hover {
				background-color: initial;
			}
			&:hover > a .iconHeader {
				fill: white;
			}
		}
		.ring {
			display: none;
		}
		.iconHeader {
			fill: #979797;
		}
		#downArrow {
			display: none;
		}
		.numberMoney {
			display: none;
		}
		.profileText {
			display: none;
		}
	}
}


