.header {
	@include size(100%, 60px);
	display: flex;
	position: fixed;
	background: $white;
	justify-content: flex-end;
	z-index: 2;
	border-bottom: 1px solid $paleGrey;

	.topMenu {
		display: flex;
		align-items: center;
		height: 60px;
		border-left: 1px solid $paleGrey;
		padding: 20px;
		&:hover {
			background-color: $lightGrey;
			cursor: pointer;
		}
		&:hover .numberMoney,
		&:hover .profileText {
			color: $lightOrange;
		}
		&:hover > a .iconHeader {
			fill: #000;
		}
	}
	a {
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.ring {
		@include size(8px, 8px);
        position: absolute;
        top: 19px;
        background: orange;
        border-radius: 50%;
	}

	.iconHeader {
		align-items: center;
		fill: #979797;
		position: relative;
	}
	.numberMoney {
		@include text(Roboto, 20px, 400);
		color: #9c9c9c;
		margin-right: 10px;
		margin-left: 10px;
	}
	.profileText {
		@include text(Roboto, 13px, 300);
		color: #56819f;
		margin-left: 5px;
	}
}

#walletIcon {
	@include size(17px, 18px);
}
#downArrow {
	@include size(11px, 7px);
}
#notificationIcon {
	@include size(16px, 17px);
}
#profileIcon {
	@include size(17px, 17px);
}
#quitIcon {
	@include size(19px, 15px);
	margin-right: 10px;
}

/* Media queries */
@media(max-width: 767px) {
	.header {
		@include size(100px, 60px);
		display: flex;
		flex-direction: column;
		background: none;
		justify-content: flex-start;
		z-index: 3;
		border-bottom: none;
		top: 55%;
	  	margin: 0 auto;

		.topMenu {
			align-items: center;
			height: 45px;
			border-left: none;
			padding: 25px;
			display: inline-block;
			text-align: center;
			&:hover {
				background-color: initial;
			}
			&:hover > a .iconHeader {
				fill: white;
			}
		}
		a {
			text-decoration: none;
			display: flex;
			align-items: center;
		}
		.ring {
			display: none;
		}
		.iconHeader {
			align-items: center;
			fill: #979797;
			position: relative;
		}
		#downArrow {
			display: none;
		}
		.numberMoney {
			display: none;
		}
		.profileText {
			display: none;
		}
	}
}


